<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js">
  <link rel="shortcut icon" href="<%=sails.config.appUrl%>img/favicon.png">

  <title><%= title %> - PH Delivery</title>

  <!-- Icons -->
  <link href="<%=sails.config.appUrl%>css/font-awesome.min.css" rel="stylesheet">
  <link href="<%=sails.config.appUrl%>css/simple-line-icons.css" rel="stylesheet">

  <!-- Main styles for this application -->
  <link href="<%=sails.config.appUrl%>css/style.css" rel="stylesheet">

</head>

<body class="app header-fixed  aside-menu-fixed aside-menu-hidden sidebar-hidden">
<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav d-md-down-none">


    <li class="nav-item px-3">
      <a class="nav-link" href="<%=sails.config.appUrl%>admin/dashboard">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="<%=sails.config.appUrl%>admin/create_link">Create a Link</a>
    </li>

    <% if(req.session.isAdmin == 1) {%>
    <li class="nav-item px-3">
      <a class="nav-link" href="<%=sails.config.appUrl%>admin/manage_user">Manage User</a>
    </li>
    <% } %>

    <li class="nav-item px-3">
      <a class="nav-link" href="<%=sails.config.appUrl%>admin/settings/">Settings</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="d-md-down-none"><%=req.session.userName%></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">

        <a class="dropdown-item" href="<%=sails.config.appUrl%>admin/settings/"><i class="fa fa-wrench"></i> Settings</a>
        <a class="dropdown-item" href="<%=sails.config.appUrl%>auth/logout"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>

  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">


        <li class="nav-item">
          <a class="nav-link" href="<%=sails.config.appUrl%>admin/dashboard"><i class="icon-speedometer"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%=sails.config.appUrl%>admin/create_link"><i class="icon-link"></i> Create a Link</a>
        </li>

        <% if(req.session.isAdmin == 1) {%>
        <li class="nav-item">
          <a class="nav-link" href="<%=sails.config.appUrl%>admin/manage_user"><i class="icon-link"></i>Manage User</a>
        </li>
        <% } %>

        <li class="nav-item">
          <a class="nav-link" href="<%=sails.config.appUrl%>admin/settings/"><i class="icon-settings"></i> Settings</a>
        </li>


      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item"><a href="#">Admin</a>
      </li>
      <li class="breadcrumb-item active">All Links</li>

      <!-- Breadcrumb Menu-->
    </ol>


    <div class="container-fluid">
      <div class="animated fadeIn">


        <%- body %>



      </div>

    </div>


    <div class="modal fade" id="dangerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete this item?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a id="delete-link-button" class="btn btn-danger" href="">Delete</a>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!-- /.conainer-fluid -->
  </main>



</div>

<footer class="app-footer">
  <a href="http://coreui.io">CoreUI</a> © 2017 creativeLabs.
        <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
        </span>
</footer>

<!-- Bootstrap and necessary plugins -->
<script src="<%=sails.config.appUrl%>bower_components/jquery/dist/jquery.min.js"></script>
<script src="<%=sails.config.appUrl%>bower_components/tether/dist/js/tether.min.js"></script>
<script src="<%=sails.config.appUrl%>bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="<%=sails.config.appUrl%>bower_components/pace/pace.min.js"></script>
<script src="<%=sails.config.appUrl%>bower_components/moment/min/moment.min.js"></script>



<!-- GenesisUI main scripts -->

<script src="<%=sails.config.appUrl%>js/app.js"></script>



</body>

</html>
